/* Can change */
#about { width: 100%;}
#tools { width: 100%; height: 100px; }

.my-custom-scrollbar {
    position: relative;
    height: 703px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
#contryDiv
{
    height: 800px;
}
#map { 
    height: 800px; 
}
#beers { 
    height: 800px; 
}
#beerStats {
     width: 100%; height: 400px; 
}

.pointer
{
    cursor: pointer;
}

#beerScoreValues
{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* Don't change*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.noUi-connect {
    background: #d38423;
}
.table-row{
    cursor:pointer;
    }
.labels
{
    font-size: x-large;
}